## Data analysis

## Libraires & Tools

In [11]:
import pandas as pd
import numpy as np

## Loading the data

First we will perform some feature engineering in order to create our final dataframe

In [3]:
data = pd.read_csv('../data/stock_history_data')

In [4]:
stock_metrics = pd.read_csv('../data/stock_data')

the first step is to calculate daily return and Cumulative return  of each stock.

### 1. Daily return

Since we are only interested in specif columns we will keep only the ones we need and give them simpler names. It is always easier to work with lowercase column names and column names that don't contain special characters.

In [12]:
cleaned_df = data[['Date','ticker','Adj Close']]

In [13]:
cleaned_df.columns = ['date','ticker','price']

In [14]:
cleaned_df

              date ticker      price
0       2015-12-01   MSFT  50.062557
1       2015-12-02   MSFT  50.053493
2       2015-12-03   MSFT  49.137821
3       2015-12-04   MSFT  50.688107
4       2015-12-07   MSFT  50.597450
...            ...    ...        ...
413539  2020-12-24   GSIT   7.320000
413540  2020-12-28   GSIT   7.510000
413541  2020-12-29   GSIT   7.550000
413542  2020-12-30   GSIT   7.390000
413543  2020-12-31   GSIT   7.400000

[413544 rows x 3 columns]

In [15]:
cleaned_df = cleaned_df.pivot_table(index=['date'], columns=['ticker'], values=['price'])
# flatten columns multi-index, `date` will become the dataframe index
cleaned_df.columns = [col[1] for col in cleaned_df.columns.values]

In [16]:
cleaned_df

,AAPL,ABST,ACIW,ACLS,ACN,ADBE,ADI,ADSK,ADTN,AGYS,...,XRX,YALA,YEXT,ZBRA,ZEN,ZEPP,ZI,ZIXI,ZM,ZUO
date,,,,,,,,,,,,,,,,,,,,,
2015-12-01,27.011518,5.075256,23.580000,10.600000,97.976982,92.550003,54.086060,64.720001,14.357253,11.240000,...,22.670622,NaN,NaN,79.889999,25.820000,NaN,NaN,5.68,NaN,NaN
2015-12-02,26.767509,5.009875,23.180000,10.840000,97.487694,92.019997,53.705864,64.550003,14.296199,11.370000,...,21.991985,NaN,NaN,78.059998,26.650000,NaN,NaN,5.66,NaN,NaN
2015-12-03,26.518894,4.928147,23.040001,10.280000,95.983559,89.910004,52.211582,64.410004,14.174086,11.130000,...,21.970781,NaN,NaN,77.220001,26.459999,NaN,NaN,5.56,NaN,NaN
2015-12-04,27.400553,5.026219,23.580000,10.480000,98.855911,92.580002,52.353043,65.290001,14.400870,11.220000,...,22.225269,NaN,NaN,77.629997,27.330000,NaN,NaN,5.60,NaN,NaN
2015-12-07,27.227913,4.870937,22.940001,10.200000,98.710922,89.599998,51.725273,63.750000,14.557877,10.920000,...,21.567846,NaN,NaN,76.150002,26.920000,NaN,NaN,5.49,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-24,131.161423,11.684468,38.529999,29.160000,254.158463,499.859985,142.645386,301.390015,14.810242,41.040001,...,21.612331,17.010000,16.889999,376.890015,142.830002,11.97,44.840000,8.81,375.170013,14.36
2020-12-28,135.852509,12.158161,38.220001,29.110001,256.509399,498.950012,142.852707,299.649994,15.530046,39.799999,...,22.282335,16.500000,16.110001,382.589996,139.449997,11.84,45.270000,8.76,351.390015,14.71
2020-12-29,134.043640,11.694336,37.849998,28.340000,254.612869,502.109985,141.845596,298.109985,14.632755,38.669998,...,21.928192,16.120001,15.940000,378.040009,140.050003,11.97,45.639999,8.43,353.750000,13.84
2020-12-30,132.900681,11.753548,38.490002,29.030001,254.395569,497.450012,144.333771,299.410004,14.534151,38.669998,...,22.150763,15.250000,15.800000,383.750000,141.289993,12.18,47.029999,8.54,353.399994,14.11
2020-12-31,131.877014,11.753548,38.430000,29.120001,258.020721,500.119995,145.864197,305.339996,14.563733,38.380001,...,22.441072,14.330000,15.720000,384.329987,143.119995,11.85,48.230000,8.63,337.320007,13.93

In [17]:
# compute daily returns using pandas pct_change()
df_daily_returns = cleaned_df.pct_change()
# skip first row with NA 
df_daily_returns = df_daily_returns[1:]
df_daily_returns

,AAPL,ABST,ACIW,ACLS,ACN,ADBE,ADI,ADSK,ADTN,AGYS,...,XRX,YALA,YEXT,ZBRA,ZEN,ZEPP,ZI,ZIXI,ZM,ZUO
date,,,,,,,,,,,,,,,,,,,,,
2015-12-02,-0.009034,-0.012882,-0.016964,0.022642,-0.004994,-0.005727,-0.007029,-0.002627,-0.004252,0.011566,...,-0.029935,NaN,NaN,-0.022907,0.032146,NaN,NaN,-0.003521,NaN,NaN
2015-12-03,-0.009288,-0.016313,-0.006040,-0.051661,-0.015429,-0.022930,-0.027823,-0.002169,-0.008542,-0.021108,...,-0.000964,NaN,NaN,-0.010761,-0.007129,NaN,NaN,-0.017668,NaN,NaN
2015-12-04,0.033246,0.019900,0.023437,0.019455,0.029925,0.029696,0.002709,0.013662,0.016000,0.008086,...,0.011583,NaN,NaN,0.005309,0.032880,NaN,NaN,0.007194,NaN,NaN
2015-12-07,-0.006301,-0.030894,-0.027142,-0.026718,-0.001467,-0.032188,-0.011991,-0.023587,0.010903,-0.026738,...,-0.029580,NaN,NaN,-0.019065,-0.015002,NaN,NaN,-0.019643,NaN,NaN
2015-12-08,-0.000423,0.000000,-0.013949,-0.015686,-0.000275,0.023661,-0.008205,0.003294,-0.016178,-0.014652,...,-0.004917,NaN,NaN,-0.008404,0.000371,NaN,NaN,0.009107,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-24,0.007712,0.010239,0.013681,0.013908,-0.000544,0.005937,0.008728,0.004031,0.000000,-0.018651,...,-0.008780,-0.026888,0.007757,-0.007505,0.000420,-0.004160,-0.051808,-0.004520,-0.022689,0.040580
2020-12-28,0.035766,0.040540,-0.008046,-0.001715,0.009250,-0.001820,0.001453,-0.005773,0.048602,-0.030214,...,0.031001,-0.029982,-0.046181,0.015124,-0.023665,-0.010860,0.009590,-0.005675,-0.063385,0.024373
2020-12-29,-0.013315,-0.038149,-0.009681,-0.026451,-0.007394,0.006333,-0.007050,-0.005139,-0.057778,-0.028392,...,-0.015893,-0.023030,-0.010553,-0.011893,0.004303,0.010980,0.008173,-0.037671,0.006716,-0.059143
2020-12-30,-0.008527,0.005063,0.016909,0.024347,-0.000853,-0.009281,0.017541,0.004361,-0.006739,0.000000,...,0.010150,-0.053970,-0.008783,0.015104,0.008854,0.017544,0.030456,0.013049,-0.000989,0.019509
2020-12-31,-0.007702,0.000000,-0.001559,0.003100,0.014250,0.005367,0.010603,0.019806,0.002035,-0.007499,...,0.013106,-0.060328,-0.005063,0.001511,0.012952,-0.027094,0.025516,0.010539,-0.045501,-0.012757

### 2. Cumulative return

In [18]:
# Calculate the cumulative daily returns
df_cum_daily_returns = (1 + df_daily_returns).cumprod() - 1
df_cum_daily_returns = df_cum_daily_returns.reset_index()
df_cum_daily_returns

,date,AAPL,ABST,ACIW,ACLS,ACN,ADBE,ADI,ADSK,ADTN,...,XRX,YALA,YEXT,ZBRA,ZEN,ZEPP,ZI,ZIXI,ZM,ZUO
0,2015-12-02,-0.009034,-0.012882,-0.016964,0.022642,-0.004994,-0.005727,-0.007029,-0.002627,-0.004252,...,-0.029935,NaN,NaN,-0.022907,0.032146,NaN,NaN,-0.003521,NaN,NaN
1,2015-12-03,-0.018238,-0.028986,-0.022901,-0.030189,-0.020346,-0.028525,-0.034657,-0.004790,-0.012758,...,-0.030870,NaN,NaN,-0.033421,0.024787,NaN,NaN,-0.021127,NaN,NaN
2,2015-12-04,0.014403,-0.009662,0.000000,-0.011321,0.008971,0.000324,-0.032042,0.008807,0.003038,...,-0.019644,NaN,NaN,-0.028289,0.058482,NaN,NaN,-0.014085,NaN,NaN
3,2015-12-07,0.008011,-0.040258,-0.027142,-0.037736,0.007491,-0.031875,-0.043649,-0.014988,0.013974,...,-0.048643,NaN,NaN,-0.046814,0.042603,NaN,NaN,-0.033451,NaN,NaN
4,2015-12-08,0.007585,-0.040258,-0.040712,-0.052830,0.007214,-0.008968,-0.051496,-0.011743,-0.002430,...,-0.053321,NaN,NaN,-0.054825,0.042990,NaN,NaN,-0.024648,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,2020-12-24,3.855759,1.302242,0.634012,1.750943,1.594063,4.400972,1.637378,3.656830,0.031551,...,-0.046681,1.430000,0.259508,3.717612,4.531758,0.064000,0.318824,0.551056,5.051129,-0.2820
1276,2020-12-28,4.029429,1.395576,0.620865,1.746227,1.618058,4.391140,1.641211,3.629944,0.081686,...,-0.017127,1.357143,0.201342,3.788960,4.400852,0.052444,0.331471,0.542254,4.667581,-0.2645
1277,2020-12-29,3.962462,1.304186,0.605174,1.673585,1.598701,4.425283,1.622591,3.606149,0.019189,...,-0.032749,1.302857,0.188665,3.732007,4.424090,0.064000,0.342353,0.484155,4.705645,-0.3080
1278,2020-12-30,3.920149,1.315853,0.632316,1.738679,1.596483,4.374932,1.668595,3.626236,0.012321,...,-0.022931,1.178571,0.178225,3.803480,4.472114,0.082667,0.383235,0.503521,4.700000,-0.2945
1279,2020-12-31,3.882251,1.315853,0.629771,1.747170,1.633483,4.403782,1.696891,3.717861,0.014382,...,-0.010125,1.047143,0.172260,3.810740,4.542990,0.053333,0.418529,0.519366,4.440645,-0.3035

Now that we have calculated the cumulative return of each stock we will create a new column in ```stock_metrics``` dataset and fill it with the value of the last row of df_cum_daily_returns for each stock. This row represents the total return of each stock for the above period.

In [19]:
total_return = pd.DataFrame(df_cum_daily_returns.iloc[df_cum_daily_returns.index.tolist()[-1]][1:]).reset_index()

In [20]:
#merging the total return dataframe with the stock metrics dataframe
stock_metrics = stock_metrics.merge(total_return, left_on = 'ticker', right_on = 'index', how = 'outer')

In [23]:
stock_metrics['total return'] = stock_metrics[1279]

In [24]:
# dropping the columns that we dont need
stock_metrics = stock_metrics.drop(columns = [1279,'index','Unnamed: 0'])

### 3. Stock Volatility

At first we will calculate the mean return of each of our stocks .

In [25]:
mean_return = {}
for ticker in df_daily_returns.keys().tolist():
    mean_return[ticker] = df_daily_returns[ticker].mean()

The second step is to calculate the deviation from the mean for each stock

In [26]:
df_dev = df_daily_returns.copy()

In [27]:
for ticker in df_dev.keys().tolist():
    df_dev[ticker] = df_dev[ticker] - mean_return[ticker]

In the next step we will square our deviations and find the sum of them for each individual stock. At last, in order to calculate the variance, we will divide those numbers with the total number of days minus one .

In [28]:
df_dev = df_dev.apply(lambda x: x**2)

In [29]:
dev_sum = {}
for ticker in df_dev.keys().tolist():
    dev_sum[ticker] = df_dev[ticker].sum()/(len(df_dev.index)-1)

And finally, the volatility is the square root of those numbers

In [30]:
#creating the dataframe
df_volatility = pd.DataFrame.from_dict(dev_sum, orient = 'index', columns =['volatility']).reset_index()

In [31]:
#calculating the square root
df_volatility['volatility'] = df_volatility['volatility'].apply(lambda x:x**0.5)

In [32]:
# merging with the main dataframe
stock_metrics = stock_metrics.merge(df_volatility, left_on = 'ticker', right_on = 'index', how = 'outer')

In [33]:
stock_metrics = stock_metrics.drop(columns = ['index'])

In [34]:
stock_metrics.dropna(inplace = True)

### S&P 500 Cumulative return

In [12]:
df_sp500 = pd.read_csv("../Data/sp500_data")

In [13]:
def cumulative_index(df):
    ''' A function that returns the cumulative return of an index'''
    #sellecting the data that we need
    df = df[['Date','Adj Close']]
    #renaming the columns
    df.columns = ['date','price']
    df = df.pivot_table(index = ['date'], values = ['price'])
    #calculating the daily returns of the index
    df = df.pct_change()
    df = df[1:]
    df = (1+df).cumprod() -1
    df = df.reset_index()
    return df

In [14]:
df_sp500 = cumulative_index(df_sp500)

In [15]:
df_sp500

            date     price
0     2015-12-01  0.010681
1     2015-12-02 -0.000433
2     2015-12-03 -0.014800
3     2015-12-04  0.005422
4     2015-12-07 -0.001605
...          ...       ...
1275  2020-12-23  0.773694
1276  2020-12-24  0.779967
1277  2020-12-28  0.795492
1278  2020-12-29  0.791493
1279  2020-12-30  0.793896

[1280 rows x 2 columns]

### Nasdaq 100  Cumulative return

In [16]:
df_nasdaq = pd.read_csv("../Data/nasdaq100_data")

In [17]:
df_nasdaq = cumulative_index(df_nasdaq)

At last we will export the four dataframes. The stock_metricsdataframe that we will use for the clustering and df_nasdaq, df_sp500 and df_cum_daily_returns that we will use for visualisations.

In [19]:
df_nasdaq.to_csv('nasdaq_vis')

In [20]:
df_sp500.to_csv('sp500_vis')

In [106]:
df_cum_daily_returns.to_csv('stock_vis')

In [109]:
stock_metrics.to_csv('clustering_data')